.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link:link,
.link:visited {
    text-decoration: none;
    color: black;
}

.link:hover,
.link:active {
    text-decoration: underline;
    color: black
}

.linkDark:link,
.linkDark:visited {
    text-decoration: none;
    color: white;
}

.linkDark:hover,
.linkDark:active {
    text-decoration: underline;
    color: white
}



span {
    font-style: italic;
}